:global body {
  background: #ddddff;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #223;
  height: 151px;
  padding: 21px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(1deg); }
  to { transform: rotate(361deg); }
}
